@import url('https://fonts.googleapis.com/css2?family=Geostar&family=Geostar+Fill&family=Shojumaru&display=swap');

body {
  background-color: #001433;
  background-image: url('./assets/Crash-Bandicoot-4.webp');
  background-size: cover;
  font-family: 'Shojumaru';
  color: #e1e132;
  text-decoration:#000;
}

header {
  padding-left: 20%;
}

main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.orange {
  background-color: #010518;
}

.green {
 background-color: #0c2761;
}

section {
  width: 50%;
  padding: 0 5%;
}

.scores-container {
  width: -webkit-fill-available;
  border: 5px solid #da5331;
  border-style: ridge;
  color: #ffd;
  height: 50vh;
  overflow-y: scroll;
  scrollbar-color: #c94220;
}

.player {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

.score {
  width: 50px;
}

table tr {
  border: 1px solid #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

form button {
  width: 50%;
  align-self: flex-end;
}

button {
  background-color: #38a746;
  border-color: #38a746;
  height: 30px;
}

.recent-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px 10px #642110;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c94220;
  border-radius: 4px;
}